table.alt2 tbody tr:nth-child(2n + 1) {
				background-color: #fff;
}

table.alt2 {
	border-collapse: separate;
	width: 60%;
	margin: auto;
}

div.progress {
    width: 100%;
}

table.alt2 a{
    margin-right: 2em;
}

table.alt2 tbody tr td.tot{
    padding-left: 70px;
}

table.alt2 tbody tr td.catName{
	width: 35%;
}